@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  font-family: "SF Pro Rounded";
}

.shadow-btn {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media (max-width: 400px) {
  .grid-cols-sm {
    display: flex;
    flex-direction: column;
  }
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.bg{
  background: linear-gradient(180deg, #B0DDFF 0%, #FFE8F5 100%);
  background: linear-gradient(180deg, color(display-p3 0.7255 0.8627 0.9922) 0%, color(display-p3 1 0.9137 0.9569) 100%);
}