@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  font-family: "SF Pro Rounded";
  max-width: 100%;
  width: auto;
  height: auto;
  min-height: 100%;
}

.shadow-btn {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media (max-width: 400px) {
  .grid-cols-sm {
    display: flex;
    flex-direction: column;
  }
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.ant-input:focus {
  border-color: #efa0c6;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0px #efa0c6;
  box-shadow: 0 0 0 0px #efa0c6;
}

.loading {
  filter: blur(10px);
  clip-path: inset(0);
}
.loaded {
  filter: blur(0px);
  transition: filter 0.5s linear;
}
.custom-modal .ant-modal-content {
  border-radius: 15px;
}

.ant-btn-primary {
  background-color: #1677ff;
}

.f-carousel__nav button {
  background-color: white;
  border-radius: 50%;
}

.f-carousel__nav button:hover {
  background-color: white !important;
}

.f-carousel__nav button:first-child {
  left: 95%;
}

.f-carousel__nav button:last-child {
  position: absolute;
  left: -5% !important;
}

.f-carousel__viewport {
  max-height: 62vh;
}
